---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 Not found">
  <div class="flex flex-col justify-center items-center">
    <h1 class="text-4xl font-extrabold text-red-400 mb-5">Page not found!</h1>
    <img src="https://midu.dev/images/this-is-fine-404.gif" alt="404" />
  </div>
</Layout>
