<header class="py-8 px-4 mx-auto max-w-xl">
  <div class="mx-auto text-center mb-8 lg:mb-16">
    <h2
      class="mb-4 text-5xl tracking-tight font-extrabold bg-gradient-to-t from-blue-600 to-cyan-400 inline-block text-transparent bg-clip-text"
    >
      Petites URL ✂️
    </h2>
    <p class="font-light text-gray-400 sm:text-xl dark:text-gray-400">
      Crea URLs més curtes en un click!
    </p>
  </div>
</header>
